/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Arvo');

body {
	font: arial,helvetica,sans-serif;
	color:#444;
	background: url('../images/columnsBg.png') #f1f1f1;
	}

/* TYPOGRAPHY*/
a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}

h1, h2, h3, h4 {
	font-weight:normal;
	font-family:'Arvo', arial, serif;
	margin-bottom:15px;
	}
	
/***
 * HEADER STYLING
 **/

#header-container .block-boxes-os_boxes_site_info {
	display: block;
}

#header-container .block-boxes-os_boxes_site_info  .block-inner{
	display: block;
}

#boxes-box-site_info h1 {
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	width: 75%;
	margin: 0px auto;
}	

#boxes-box-site_info a:hover {
	text-decoration: none;
}


/***
 *	Primary Menu Styles
 ***/

#menu-bar{
	background: rgb(245,245,245);
}

#menu-bar ul.nice-menu,
#menu-bar ul.nice-menu-down {
	display: flex;
	justify-content: center;
	width: 100%;
}

#menu-bar ul.nice-menu a, 
#menu-bar ul.nice-menu-down a {
	font-size: 2em;
	color: #333;
}
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu-down a:hover {
	color: #a51c30;
	background: none;
}


/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}
	
